<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mageos_workflows>
            <general>
                <suppress_bulk_imports>1</suppress_bulk_imports>
            </general>
        </mageos_workflows>
    </default>
</config>
